---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Toolbox24 bietet Werkzeugvermietung und Teppichreinigung in Wien. Verfügbar in allen Bezirken von 1010 bis 1190."
		/>
		<meta
			name="keywords"
			content="Werkzeug Miete 1010 Wien, Werkzeug Miete 1020 Wien, Werkzeug Miete 1030 Wien, Werkzeug Miete 1040 Wien, Werkzeug Miete 1050 Wien, Werkzeug Miete 1060 Wien, Werkzeug Miete 1070 Wien, Werkzeug Miete 1080 Wien, Werkzeug Miete 1090 Wien, Teppichreinigung 1010 Wien, Teppichreinigung 1020 Wien, Teppichreinigung 1030 Wien, Teppichreinigung 1040 Wien, Teppichreinigung 1050 Wien, Teppichreinigung 1060 Wien, Teppichreinigung 1070 Wien, Teppichreinigung 1080 Wien, Teppichreinigung 1090 Wien, Werkzeug Miete 1110 Wien, Werkzeug Miete 1120 Wien, Werkzeug Miete 1130 Wien, Werkzeug Miete 1140 Wien, Werkzeug Miete 1150 Wien, Werkzeug Miete 1160 Wien, Werkzeug Miete 1170 Wien, Werkzeug Miete 1180 Wien, Werkzeug Miete 1190 Wien, Teppichreinigung 1110 Wien, Teppichreinigung 1120 Wien, Teppichreinigung 1130 Wien, Teppichreinigung 1140 Wien, Teppichreinigung 1150 Wien, Teppichreinigung 1160 Wien, Teppichreinigung 1170 Wien, Teppichreinigung 1180 Wien, Teppichreinigung 1190 Wien"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				"name": "Toolbox24",
				"description": "Werkzeug Miete und Teppichreinigung in Wien"
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400;1,700;1,900&display=swap");
	:root {
		--primary-color: #fffa02;
		--secondary-color: #fdd500;
	}
	html {
		background: white;
		padding: 0;
	}
	body {
		margin: 0;
		padding: 0;
		font-family: "Poppins", sans-serif;
	}
</style>
